
/* Whole Document */
html, body {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 100%;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

nav {
   position: fixed;
   top: 0;  <!-- as nav bar has height of 56px -->
   left: 0;
   bottom: 0;
   right: 0;
   background-color:black;
   padding: 1em;
}

footer {
  color: white;
  text-align: center;
  padding-bottom: 2%;
}

#intro {
  text-align: center;
  padding-top: 25%;
  margin: auto;
}

#skills {
  color: black;
  font-size: 120%;

}

.heart {
  color: red;
}

.camera {
 color: black;
}

.shadow {
text-shadow: 5px 5px 10px black;
}

.opacity {
   position:relative;
   background-color:white;
   z-index:0;
   opacity:0.5;
   padding: .01875px;
}

 /* Media Queries */

 /* Mobile */
 @media only screen and (max-width : 599px) {

   html {
     font-size: 75%;
   }
}

/* Medium Devices */
@media only screen and (min-width : 740px)and (max-width : 799px) {

  html {
    font-size: 80%;
  }

}

 /* Large Devices */
@media only screen and (min-width : 1800px) {

  html {
    font-size: 150%;
  }

  .container {
    width: 1500px;
  }

  nav {
    height: 95px;
    line-height: 95px;
  }

}
