
/* Whole Document */
html, body {
    color: auto;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
}

hr {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#header {
}

#title {
  font-weight: 900i;
  color: white;
}

#icon{
  margin-top: 10px;
  font-weight: 900;
}
/* Main sections     color: #000000;
    background-color: #87cefa;


#projects {
    font-size: 30em;
    color: #000000;
    background-color: #87cefa;

}

#contact {
    font-size: 30em;
    color: #000000;
    background-color: #ffffff;

}
*/

/* Subsections */

#logo {

}

#navigation {

}
/*
#intro {

text-align: center;
padding-top: 20%;
padding-bottom: 40%;

}
*/

 .shadow {
text-shadow: 1px 1px 2px black;
 }
